.product-card {
  display: block;
  width: 100%;
  margin: 2rem auto;
  padding-bottom: .75rem;
  border-radius: .2rem;
  transition: all ease-in-out 0.5s;
  &:hover {
    box-shadow: $gray-300 0.25rem 0.25rem 1.75rem;
    transform: translateY(-0.5rem);

    .product-card__img {
      position: absolute;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
      transform: scale(1.15);
      filter: brightness(1.07);
    }
  }
}

.product-card .product-card__img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: .5rem;
  overflow: hidden;
}

.product-card__img-wrapper::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 125%;
}

.product-card__img-wrapper .product-card__img {
  position: absolute;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  transition: all ease-in-out 0.5s;
}


// .product-card__img-wrapper .product-card__img:hover {
//   position: absolute;
//   background-position: center;
//   background-size: cover;
//   width: 100%;
//   height: 100%;
//   transform: scale(1.15);
      // filter: contrast(1);
// }

.product-card__name, .product-card__price {
  width: 100%;
  text-align: center;
}

.product-card__name  { margin-bottom: .5rem; }
.product-card__price { margin-bottom: 1rem; }
