.product-card {
  display: block;
  width: 100%;
  margin: 3rem auto;
}

.product-card .product-card__img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.product-card__img-wrapper::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 125%;
}

.product-card__img-wrapper .product-card__img {
  position: absolute;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  transition: all ease-in-out 0.5s;
}


.product-card__img-wrapper .product-card__img:hover {
  position: absolute;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
}

.product-card__name, .product-card__price {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}
